.quickLink {
  clip-path: polygon(14% 0, 100% 0, 100% 80%, 86% 100%, 0 100%, 0 20%);
}

.triangle {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(170deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.gradient-background {
  background-image: linear-gradient(90deg, #0077e7, #01d8d1);
  color: transparent;
  filter: hue-rotate(0deg);
  animation: hueShift 10s infinite linear 1s;
  user-select: none;
  cursor: default;
}
